.customers {
    &__list {
        margin-top: 80px;
    }

    &__item {
        text-align: center;

        &.swiper-slide-active {
            .customers__response p {
                transform: translateY(0);
                opacity: 1;
            }
        }

        &.is-play {
            .customers__response p {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    &__img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $gap;
        border-radius: 50%;
        width: 85px;
        height: 85px;
        object-fit: cover;
        object-position: center;
    }

    &__name {
        margin-bottom: $gap;
        color: $title-color;
        font-weight: 500;
        font-size: 20px;
        line-height: calc(37.2 / 20);
    }

    &__response {
        text-align: center;
        margin: 0 auto;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(30.6 / 12);
        overflow: hidden;
        color: $text-color;
        background-color: #84a178;
        border-radius: 10px;
        margin-bottom: $gap;
        height: 256px;
        padding: 35px 39px;

        @media screen and (min-width: 481px) {
            width: 280px;
        }

        @include dq(only-tablet) {
            width: 705px;
            height: 138px;
            padding: 28px 80px;
            font-weight: 500;
            letter-spacing: 0.04em;
            font-size: 14px;
            line-height: calc(26 / 14);
        }

        @include dq(desktop) {
            width: 968px;
            height: 138px;
            font-weight: 500;
            letter-spacing: 0.04em;
            font-size: 16px;
            line-height: calc(30 / 16);
            padding: 43px 109px;
        }
    }

    &__pagination {
        &.swiper-pagination {
            bottom: 0;
            position: relative;
        }

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $swiper-color;

            &.swiper-pagination-bullet-active {
                background: $hero-color;
            }
        }
    }
}