.modalfranchize {
    width: 280px;
    height: 674px;
    // position: relative;

    @media screen and (min-width:768px) {
         width: 568px;
         height: 668px;
    }

    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;


}