.backdropfranchize {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    // opacity: 1;
    // transition: opacity 250ms $timing-function;
    // overflow-y: scroll;

    // &.is-hidden {
    //     opacity: 0;
    //     pointer-events: none;
    // }

    // padding:;
}

.modalfranchize {
    width: 280px;
    height: 674px;
    // position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    // .backdropfranchize.is-hidden & {
    //         transform: translate(-50%, -50%) scale(0.9);
    //     }

    @media screen and (min-width:768px) {
         width: 568px;
         height: 668px;
    }
    padding: 28px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;


}
.modalfranchize_gallery {
    list-style: none;
    padding: 0;
    margin: 0;
}