.modalfranchize__backdrop {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    
        &.is-hidden {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
}





.modalfranchize {
    width: calc(100% - 20px);
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        position: relative;
        padding: 28px;
        text-align: left;
        border: 2px solid #F8D24E;
        border-radius: 10px;

@media screen and (min-width: 480px) {
        width: 480px;
        padding: 32px 60px;
    }

    @media screen and (min-width: 768px) {
        width: 568px;

    }
}
.modalfranchize_button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    right: 12px;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: rgba(19, 19, 19, 1);
    @media screen and (min-width: 768px) {
        width: 24px;
        height: 24px;
    }
}

.modalfranchize_title {
    text-align: center;
    width: 221px;
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #131313;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    // @media screen and (min-width: 768px) {
    //     width: 322px;
    //     font-size: 20px;
    //     line-height: 1.4;
    //     margin-bottom: 24px;
    // }
}

.modalfranchize_text {
    width: 222px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    // @media screen and (min-width: 768px) {
    //     width: 448px;
    //     font-size: 16px;
    //     margin-bottom: 32px;
    // }
}
.modalfranchize_div {
    position: relative;
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }
}

.modalfranchize_input {
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 48px 7px 12px;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    outline: transparent;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        width: 368px;
        height: 42px;
        padding: 11px 152px 11px 16px;
    }
}
.modalfranchize_label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: #131313;
    @media screen and (min-width: 768px) {
        left: 80px;
        font-size: 14px;
    }
}
.modalfranchize_area {
    position: relative;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        display: flex;
    }
}
.modalfranchize_bel {
    position: absolute;
    top: 8px;
    left: 12px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: #131313;
    @media screen and (min-width: 768px) {
        top: 16px;
        left: 11px;
        font-size: 14px;
        top: 11px;
        left: 80px;
    }
}

.modalfranchize_textarea {
    width: 100%;
    height: 64px;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    resize: none;
    outline: transparent;
    padding: 8px 48px 39px 12px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    @media screen and (min-width: 768px) {
        width: 368px;
        height: 84px;
        padding: 11px 152px 53px 16px;
    }
}

.modalfranchize_submit {
    min-width: 114px;
    cursor: pointer;
    border-radius: 10px;
    padding: 12px 34px;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    border: transparent;
    color: rgba(19, 19, 19, 1);
    background-color: #f8d24e;
    @media screen and (min-width: 768px) {
        min-width: 121px;
        font-size: 14px;
        line-height: 1.22;
        margin-bottom: 32px;
    }
}
