.hero {
  position: relative;
  text-align: left;
  margin: 0 auto;
  background-color: #84a178;
  @media screen and (max-width: 767px) {
    padding-top: 47px;
    height: 453px;
  }
  @media screen and (min-width: 768px) {
    height: 348px;
  }
  @media screen and (min-width: 1200px) {
    height: 594px;
  }
}
.btns {
  @media screen and (max-width: 767px) {
    display: flex;
    gap: 12px;
    margin-top: 32px;
    padding: 0;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 12px;
    margin-top: 24px;
    padding: 0;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 12px;
    margin-top: 28px;
    padding: 0;
    align-items: center;
  }
}
.hero__text:nth-child(1) {
  @media screen and (max-width: 767px) {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.25;
    font-family: 'Seymour One';
    color: #fcfcfc;
    display: block;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.25;
    font-family: 'Seymour One';
    color: #fcfcfc;
    padding-top: 13px;
    display: block;
  }
  @media screen and (min-width: 1200px) {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.25;
    font-family: 'Seymour One';
    color: #fcfcfc;
    padding-top: 13px;
    display: block;
  }
}
.hero__text:nth-child(2) {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 0.96;
    font-family: 'Seymour One';
    color: #fcfcfc;
    display: block;
  }
  @media screen and (min-width: 768px) {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.25;
    font-family: 'Seymour One';
    color: #fcfcfc;
    display: block;
  }
  @media screen and (min-width: 1200px) {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.25;
    font-family: 'Seymour One';
    color: #fcfcfc;
    padding-top: 13px;
    display: block;
  }
}
.hero__text:nth-child(3) {
  @media screen and (max-width: 767px) {
    font-size: 37px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.14;
    font-family: 'Titan One';
    color: #fcfcfc;
  }
  @media screen and (min-width: 768px) {
    font-size: 37px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.25;
    font-family: 'Seymour One';
    color: #fcfcfc;
  }
  @media screen and (min-width: 1200px) {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.25;
    font-family: 'Seymour One';
    color: #fcfcfc;
    padding-top: 13px;
    display: block;
  }
}
.hero__products {
  @media screen and (max-width: 1199px) {
    padding: 11px 26px;
    display: block;
    color: black;
    border: 2px solid #f8d24e;
    border-radius: 8px;
    font-size: 12px;
    line-height: 1.21;
    font-weight: 600;
    cursor: pointer;
  }
  @media screen and (min-width: 1200px) {
    padding: 11px 26px;
    display: block;
    color: black;
    border: 2px solid #f8d24e;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 600;
    cursor: pointer;
  }
}
.hero__how-its-made {
  @media screen and (max-width: 1199px) {
    color: #f8d24e;
    text-decoration: underline;
    font-size: 12px;
    line-height: 1.21;
    font-weight: 600;
    cursor: pointer;
  }
  @media screen and (min-width: 1200px) {
    color: #f8d24e;
    text-decoration: underline;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 600;
    cursor: pointer;
  }
}
.hero__points {
  position: absolute;
  top: 171px;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 403px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 280px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 210px;
  }
}
.hero__ice-cream {
  @media screen and (max-width: 767px) {
    position: absolute;
    left: 83px;
    top: 236px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 20px;
    left: 408px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 34px;
    left: 652px;
  }
}
.hero__ice-creams {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 184px;
    left: 32px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 297px;
    left: 16px;
  }
}
.hero__p {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    color: #fcfcfc;
    display: block;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    position: absolute;
    left: 216px;
    top: 211px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    color: #fcfcfc;
    display: block;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    top: 371px;
    left: 257px;
  }
}
.hero__arrow {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    color: #fcfcfc;
    display: block;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    position: absolute;
    left: 216px;
    top: 316px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 483px;
    left: 257px;
  }
}
.number {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    margin-bottom: 4px;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.21;
    margin-bottom: 4px;
  }
}
.text {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    color: #fcfcfc;
    font-size: 8px;
    line-height: 1.21;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 4px;
  }
}
.hero__cafe {
  margin-bottom: 16px;
  display: block;
  left: 600px;
  margin-left: auto;
  text-align: right;
  margin-right: 12px;
}
.cafes {
  list-style: none;
  position: absolute;
  top: 28px;
  right: 32px;
  @media screen and (min-width: 768px) {
    list-style: none;
    position: absolute;
    top: 28px;
    left: 704px;
  }
  @media screen and (min-width: 1200px) {
    list-style: none;
    position: absolute;
    top: 56px;
    right: 16px;
  }
}
