$primary-text-color: #FCFCFC;

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p,
button,
a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;

    color: #FCFCFC;
}

.container {
    box-sizing: border-box;

    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 32px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding: 0 16px;
    }

}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.button-submit {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;

    width: 114px;
    height: 42px;

    padding: 12px 34px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.25px;
    color: #131313;

    background: #F8D24E;
    border-radius: 10px;
    border: none;

    @media screen and (min-width: 768px) {
        margin-top: 32px;
        width: 121px;

        font-size: 14px;
        line-height: 1.2;
    }

    &:hover,
    &:focus {
        background-color: #0A8817
    }

    &:focus {
        color: #FFFFFF;
    }

    &:active {
        background-color: #ABABAB;
    }

}