h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
}

.modal__input:focus {
  outline: 1px solid #2196F3;
}

.modal__input {
  outline: none;
}

.modal__textarea:focus {
  outline: 1px solid #2196F3;
}

.modal__textarea {
  outline: none;
}

textarea {
  resize: none;
}

.visually-hidden {
  display: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.products {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url(../images/products/background_mobile.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products/background_mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .products {
    background-image: url(../images/products/background_tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products/background_tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url(../images/products/background_decktop.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products/background_decktop@2x.png);
  }
}

.products__label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .products__label {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
  }
}

.products__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 148px;
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    gap: 29px;
  }
}

.list__item {
  position: relative;
  display: block;
  min-height: 420px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 123px;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .list__item {
    flex-basis: calc((100% - 32px) / 3);
    min-height: 428px;
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .list__item {
    flex-basis: calc((100% - 58px) / 3);
    min-height: 536px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.list__item:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-size: contain;
  border-radius: 50%;
  background: url(../images/products/ice_cream_mobile.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  background-repeat: no-repeat;
  top: -100;
  left: 50%;
  transform: translateX(-50%);
  background-position: 0 -11, 0 0;
  transform: scale(1);
  transition: transform 250ms;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .list__item:nth-child(1)::before {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/products/ice_cream_mobile@2x.png);
  }
}

.list__item:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(../images/products/ice_coffee_mobile.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  background-repeat: no-repeat;
  top: -100;
  left: 50%;
  transform: translateX(-50%);
  background-position: 0 -11, 0 0;
  transform: scale(1);
  transition: transform 250ms;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .list__item:nth-child(2)::before {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/products/ice_coffee_mobile@2x.png);
  }
}

.list__item:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(../images/products/coctails_mobile.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  top: -100;
  left: 50%;
  transform: translateX(-50%);
  background-position: 0 -11, 0 0;
  transform: scale(1.1);
  transition: transform 250ms;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .list__item:nth-child(3)::before {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/products//coctails_mobile@2x.png);
  }
}

.list__item:hover::before {
  transform: scale(1.15);
}

.list__item:nth-child(1) {
  background: #aec6a5;
}

.list__item:nth-child(2) {
  background: #efd478;
}

.list__item:nth-child(3) {
  background: #d6936d;
}

@media screen and (max-width: 767.98px) {
  .list__item:not(:last-child) {
    margin-bottom: 168px;
  }
}

.list__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .list__title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .list__title {
    font-size: 30px;
    margin-bottom: 66px;
  }
}

.list__info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  margin-bottom: 50px;
}

.ingredients__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 32px;
  background-color: inherit;
  border-radius: 10px;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  transform: scaleX(1);
  transition: transform 250ms;
}

.ingredients__button:hover,
.ingredients__button:focus,
.ingredients__button:active {
  transform: scaleX(1.5);
}

.modal-ingredients-icon {
  fill: #131313;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #131313;
  --text-color-light: #fcfcfc;
  --whity-color: #ffffff;
  --black-color: #000000;
  --yellow-accent: #f8d24e;
  --yellow-bg: #efd478;
  --green-accent: #9cbe8f;
  --green-bg: #84a178;
  --green-bg-two: #aec6a5;
  --green-bg-tablet: #97af8d;
  --brown-accent: #d6936d;
  --light-grey: #e1e1e1;
  --disabled-grey: #ababab;
  --green-hover-focus: #0a8817;
  --yellow-linear-gradient: linear-gradient(0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)),
      #d9d9d9;
  --green-linear-gradient: linear-gradient(0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)),
      #d9d9d9;
  --brown-linear-gradient: linear-gradient(0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)),
      #d9d9d9;
  --shadows-products: 0px 8px 30px rgba(10, 136, 23, 0.25);
  --shadows-contacts: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --primery-font: "Montserrat";
  --title-font: "Seymour One";
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary-text-color);
  font-family: var(--primery-font);
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* mobile 1x */
  background-image: url(../images/bg-img/backgroud_mobile.jpg);
  /* mobile 2x */
  /* tablet 1x */
  /* desktop 1x */
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url(../images/bg-img/backgroud_mobile_2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  body {
    background-image: url(../images/bg-img/background_tablet.jpg);
    /* tablet 2x */
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/bg-img/background_tablet_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url(../images/bg-img/backgroud_desktop.jpg);
    /* desktop 2x */
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/bg-img/backgroud_desktop_2x.jpg);
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.info-product-modal {
  display: block;
  padding: 28px 28px;
  width: calc(100vw - 30px);
  background: #fcfcfc;
  border: 2px solid var(--yellow-accent);
  border-radius: 10px;
}

.info-product-modal__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  padding-bottom: 20px;
  color: var(--primary-text-color);
}

.info-product-modal__thumb {
  position: relative;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 24px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.info-product-modal__img {
  width: 100%;
  position: absolute;
  top: -7px;
}

.info-product-modal__list {
  justify-content: center;
  gap: 9px;
  margin-bottom: 40px;
  display: flex;
}

.info-product-modal__wrapper {
  max-width: 53px;
  max-height: 72px;
  text-overflow: ellipsis;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  flex-direction: column;
  align-items: center;
  display: flex;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .info-product-modal__wrapper {
    width: 65px;
    height: 90px;
  }
}

.wrapper-product__numb {
  display: flex;
  justify-content: center;
  width: 43px;
  height: 43px;
  margin-bottom: 8px;
  border-radius: 50%;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 2.8;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.wrapper-product__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--primary-text-color);
}

.info-product-modal__pretitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #131313;
}

.info-product-modal__ingred-list {
  margin-bottom: 40px;
}

.ingred-text {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: #131313;
}

.info-product-modal__ingred-item {
  display: flex;
  justify-content: space-between;
}

.info-product-modal__ingred-item:not(:last-child) {
  margin-bottom: 11px;
}

.info-product__form {
  display: block;
}
@media screen and (min-width: 768px) {
  .info-product__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info-product__input {
  width: 100%;
  height: 40px;
  padding-top: 11px;
  padding: 8px 12px;
  margin-bottom: 16px;
  font-family: var(--primery-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  color: var(--primary-text-color);
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.info-product__input:focus {
  outline: 2px solid var(--green-hover-focus);
  border: none;
}
.info-product__input:hover {
  outline: 2px solid var(--green-hover-focus);
  border: none;
}
@media screen and (min-width: 768px) {
  .info-product__input {
    width: 368px;
    padding: 11px 16px;
  }
}

.info-product__message {
  width: 100%;
  height: 64px;
  margin-bottom: 12px;
  padding: 8px 12px;
  font-family: var(--primery-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--green-bg);
  border-radius: 10px;
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.info-product__message:focus {
  outline: 2px solid var(--green-hover-focus);
}
.info-product__message:hover {
  outline: 2px solid var(--green-hover-focus);
  border: none;
}
@media screen and (min-width: 768px) {
  .info-product__message {
    width: 368px;
    height: 84px;
    padding: 11px 16px;
    margin-bottom: 32px;
  }
}

.info-product__modal-btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-family: inherit;
  position: relative;
  overflow: hidden;
  font-family: var(--primery-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 12px 34px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--yellow-accent);
  color: var(--primary-text-color);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.info-product__modal-btn:hover {
  background-color: var(--green-hover-focus);
}
.info-product__modal-btn:focus {
  background-color: var(--green-hover-focus);
  color: var(--whity-color);
}
.info-product__modal-btn:visited {
  background-color: var(--disabled-grey);
}

.close-btn-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  display: inline-flex;
  align-items: center;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-modal {
  opacity: 0.7;
  cursor: pointer;
}
.close-btn-modal:hover {
  opacity: 1;
  transform: rotate(90deg);
  fill: var(--green-hover-focus);
}
.close-btn-modal:active {
  width: 24px;
  fill: var(--yellow-accent);
}

.modal__icon-close {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .modal__icon-close {
    width: 24px;
    height: 24px;
  }
}/*# sourceMappingURL=index.css.map */