<section class="about-section">
  <div class="container">
    <div class="about__title-box">
      <h2 id="about" class="about__title">how it’s made?</h2>
      <p class="about__label">tradition and love</p>
    </div>
    <div class="about__deskription-box">
      <div class="about__thumb"></div>
      <div class="about__deskription">
        <ul class="about__paragraf-list list">
          <li class="about__list list">
            <p class="about__deskription-paragraf-top">
              Ice is a place where you will become not only a little
              happier, but also healthier. Health is the main value for us,
              and we follow it when creating our handmade desserts.
            </p>
          </li>
          <li class="about__list list">
            <p class="about__deskription-paragraf-midl">
              We use traditional recipes and 100% natural ingredients. Our
              products are so natural that they can be given to children
              from the age of three years. Sweets lovers can expect 55 types
              of ice cream, 15 types of coffee and 23 milkshakes.
            </p>
          </li>
          <li class="about__list list">
            <p class="about__deskription-paragraf-bottom">
              This is enough to choose ice cream and coffee for any mood!
            </p>
          </li>
        </ul>
        <button class="about__deskription-modal-button" type="button">
          Read more
          <svg width="12" height="12">
            <use
              href="./images/about-img/icons.svg#icon-ep_arrow-right-bold"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>