<section class="contact">
    <div class="contact__container">
        <ul class="contact__list">
            <li class="contact__item">
                <div class="contact__title--box">
                    <p class="contact__title">cafe</p>
                </div>
                <div class="contact__minititle--box">
                    <p class="contact__minititle">Chicago</p>
                    <a href="#!" class="contact__map">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </div>
                <div class="contact__day--box">
                    <p class="contact__day">Monday - Friday</p>
                    <p class="contact__time">06:00 AM - 10:00 PM</p>
                    <p class="contact__day">Saturday - Sunday</p>
                    <p class="contact__time">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contact__mailtel--box">
                    <a href="tel:+61(0)383766284" class="contact__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contact__mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="contact__item">
                <div class="contact__title--box">
                    <p class="contact__title">foodtruck</p>
                </div>
                <div class="contact__minititle--box">
                    <p class="contact__minititle">Los Angeles</p>
                    <a href="#!" class="contact__map">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </div>
                <div class="contact__day--box">
                    <p class="contact__day">Monday - Friday</p>
                    <p class="contact__time">06:00 AM - 10:00 PM</p>
                    <p class="contact__day">Saturday - Sunday</p>
                    <p class="contact__time">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contact__mailtel--box">
                    <a href="tel:+61(0)383766284" class="contact__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contact__mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="contact__item">
                <div class="contact__title--box">
                    <p class="contact__title">cafe</p>
                </div>
                <div class="contact__minititle--box">
                    <p class="contact__minititle">New York</p>
                    <a href="#!" class="contact__map">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                </div>
                <div class="contact__day--box">
                    <p class="contact__day">Monday - Friday</p>
                    <p class="contact__time">06:00 AM - 10:00 PM</p>
                    <p class="contact__day">Saturday - Sunday</p>
                    <p class="contact__time">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contact__mailtel--box">
                    <a href="tel:+61(0)383766284" class="contact__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contact__mail">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <ul class="contact__list--button">
            <li class="contact__item--button">
                <button class="contact__button1">Our Locations<span class="contact__icon">></span></button>
            </li>
            <li class="contact__item--button">
                <button data-modal-open-franchize type="button" class="contact__button2">Franchise<span class="contact__icon">></span></button>
            </li>
        </ul>
    </div>
</section>