<div class="products__container">
  <h2>New section</h2>
</div>
<article class="example" id="uk">
  <h1>HTML-partials</h1>

  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
  <img src="images/logo.png" alt="" width="320" />

  <p>
    The
    <a href="https://github.com/posthtml/posthtml-include" target="_blank" rel="noopener noreferrer">
      posthtml-include
    </a>
    plugin allows you to add code from other HTML files (fragments) to HTML page
    files. Fragments are stored in the <code>src/partials</code> folder. The
    addition occurs when compiling page files, such as <code>index.html</code>.
  </p>

  <p>
    This <code>example.html</code> file is an example of such a snippet, with
    the markup of a certain part of the main page. This is very convenient for
    team development on student projects, when several people write in one HTML
    file at once.
  </p>

  <p>
    The syntax for adding a fragment to the main file is:
    <code> &lt;include src="./partials/filename.html"&gt;&lt;/include&gt;</code>
  </p>

  <div class="background"></div>
</article>

<section class="products">
  <div class="products__container">
    <p class="products__label">100% natural</p>
    <h2 id="products">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__title">ice cream</h3>
        <p class="products__info">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
          stabilizer
        </p>
        <button class="product__button" type="button"></button>
      </li>
      <li class="products__item">
        <h3 class="products__title">ice coffee</h3>
        <p class="products__info">Fragrant invigorating drink created from 100% natural ingredients without the
          use
          of preservatives and flavor enhancers
        </p>
        <button class="product__button" type="button"></button>
      </li>
      <li class="products__item">
        <h3 class="products__title">milkshakes</h3>
        <p class="products__info">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
          berries and other sweets of your choice
        </p>
        <button class="product__button" type="button"></button>
      </li>
    </ul>
  </div>
</section>