<div class="backdrop is-hidden" data-modal-franchize>
    <div class="modalfranchize">
        <button type="button" class="modalfranchize_button" data-modal-close-franchize>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" class="modalfranchize_icon">
                <path fill="#131313"
                    d="m6.7831 5.99997 4.6056-4.60556c.091-.10628.1385-.24299.1331-.38281-.0054-.139816-.0633-.272448-.1623-.37139-.0989-.098941-.2315-.156904-.3714-.162305-.1398-.0054-.2765.042159-.3828.133174L5.99977 5.21663 1.39421.605523C1.2896.50091 1.14771.442139.999768.442139c-.147945 0-.289831.058771-.394444.163384C.50071.710136.441939.852022.441939.999967c0 .147943.058771.289833.163385.394443L5.21643 5.99997.605324 10.6055c-.058157.0498-.10539.1111-.138737.18-.033346.069-.052085.144-.05504.2205-.002955.0766.009936.1529.037867.2241.02793.0713.070296.1361.124437.1902.054142.0542.11889.0965.190182.1245.071292.0279.147587.0408.224098.0378.076509-.0029.151589-.0217.220509-.055.06893-.0334.13021-.0806.18002-.1387l4.61111-4.6056 4.60553 4.6056c.1063.091.243.1385.3828.1331.1399-.0054.2725-.0633.3714-.1623.099-.0989.1569-.2315.1623-.3714.0054-.1398-.0421-.2765-.1331-.3828L6.7831 5.99997Z" />
            </svg>
        </button>
        <form class="modalfranchize_form">
            <p class="modalfranchize_title">Thank you for your interest in owning an Ice Cream shop</p>
            <P class="modalfranchize_text"> 
                Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.
            </P>
            <div class="modalfranchize_div">
                <input type="text" id="name" name="name" class="modalfranchize_input" placeholder="Name" required autofocus pattern="[A-Za-z]{3,15}" title="Enter your first name, for example John">
                <label for="name" class="modalfranchize_label"></label>
            </div>
            <div class="modalfranchize_div">
                <input type="tel" id="tel" name="tel" class="modalfranchize_input"  placeholder="Phone" required pattern="[+0-9]{9,13}" title="Enter a phone number. Example 380989898123">
                <label for="tel" class="modalfranchize_label"></label>
            </div>
            <div class="modalfranchize_div">
                <input type="email" id="email" name="mail" class="modalfranchize_input" placeholder="Email" required>
                <label for="tel" class="modalfranchize_label"></label>
            </div>
            <div class="modalfranchize_area">
                <textarea name="comment" class="modalfranchize_textarea" id="comment" placeholder="Comment"></textarea>
                <label for="comment" class="modalfranchize_bel"></label>
            </div>
            <button type="submit" class="modalfranchize_submit">Submit</button>
    
        </form>
    
    </div>
</div>

