<div class="">
    <button type="button" class="">

    </button>
    <form>
        <p>Thank you for your interest in owning an Ice Cream shop</p>
        <P> Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once
            the application process resumes, we will contact you for further information. Please fill out the contact information
            below and we will reach out for additional information. We appreciate your patience.
        </P>
        <div class="">
            <input type="text" name="name" class="" placeholder="Name" >
        </div>
        <div class="">
            <input type="tel" name="tel" class="" placeholder="Phone">
        </div>
        <div class="">   
            <input type="email" name="mail" class="" placeholder="Comment">
        </div>
        <div class="">
            <textarea name="comment" class=""  cols="" rows=""
                placeholder="Comment"></textarea>
        </div>

        <button type="submit" class="">Submit</button>
        
    </form>

</div>