<section class="hero">
  <div class="container">
    <h1 class="hero__hero-title">
      <span class="hero__text">ICE CREAM</span>
      <span class="hero__text">MADE WITH</span>
      <span class="hero__text">PASSION</span>
    </h1>
    <ul class="btns">
      <li>
        <a href="#products" class="hero__products">Products</a>
      </li>
      <li>
        <a href="#how-its-made" class="hero__how-its-made">How it’s made?</a>
      </li>
    </ul>
    <p class="hero__p">
      Lorem ipsum dolor sit<br />
      amet, consectetur<br />
      adipiscing elit, sed do<br />
      eiusmod tempor<br />
      incididunt ut labore et
    </p>
    <img class="hero__arrow" src="./images/arrow.png" alt="" />
    <div>
      <ul class="cafes">
        <li class="hero__cafe">
          <span class="number">16</span>
          <p class="text">cafes</p>
        </li>
        <li class="hero__cafe">
          <span class="number">23</span>
          <p class="text">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="thumb">
      <picture>
        <source srcset="./images/points-320.svg" media="(max-width: 767px)" />
        <source srcset="./images/points-1200.svg" media="(min-width: 1199px)" />
        <img class="hero__points" src="./images/points-768.svg" alt="points" />
      </picture>
      <picture>
        <source srcset="./images/mobile-320.png 1x, ./images/mobile-320@2x.png 2x" media="(max-width: 767px)" />
        <source srcset="./images/desktop-1200.png 1x, ./images/desktop-1200@2x.png 2x" media="(min-width: 1199px)" />
        <source srcset="./images/tablet-768.png 1x, ./images/tablet-768@2x.png 2x" media="(min-width: 768px)" />
        <img class="hero__ice-cream" src="./images/tablet-768.png" alt="ice-cream" />
      </picture>
      <picture>
        <source srcset="
              ./images/ice-creams-tablet-768.png    1x,
              ./images/ice-creams-tablet-768@2x.png 2x
            " media="(max-width: 1199px)" />
        <source srcset="
              ./images/ice-creams-desktop-1200.png    1x,
              ./images/ice-creams-desktop-1200@2x.png 2x
            " media="(min-width: 1200px)" />
        <img class="hero__ice-creams" src="./images/ice-creams-tablet-768.png" alt="ice-creams" />
      </picture>
    </div>
  </div>
</section>